.loginForm {
 margin: 10px;
}

input {
    border: solid sandybrown 2px;
}

.summaryError {
    border: solid red 2px;
    padding: 5px;
    color: red;
    width: 200px;
    background-color: greenyellow;
    margin-top: 10px;
}

.error input {
    border: solid red 2px;
}