.header {
    grid-area: h;
    background-color: greenyellow;
}

.header img {
    padding-left: 10px;
    width: 70px;
    height: 60px;
}

.loginBlock {
    padding: 10px;
    float: right;
}

.loginBlock a {
    font-size: 25px;
    color: deepskyblue;
}