.header {
    grid-area: h;
    background-color: greenyellow;
}

.header img {
    padding-left: 10px;
    width: 70px;
    height: 60px;
}

.loginBlock {
    color: dodgerblue;
    font-size: 25px;
}

.loginBlock a {
    margin-left: 10px;
}